*, *::before, *::after { /* valitsee ihan kaikki elementit */
    box-sizing: border-box; /* "easier to size the elements */
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    padding: 0; /* nämä nolliin jotta täyttää koko ruudun */
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid; /* gridillä helpoin kun on erikokoisia boxeja */
    justify-content: center;
    align-content: center; /* HOX! ero align-items VS align-content */
    min-height: 100vh; /* käytää 100% koko korkeudesta eli periaatteessa keskittää vertikaalisesti*/
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /* minmax auto antaa lisää korkeutta jos numeroita paljon */
}

.calculator-grid > button { /* valitsee buttonit gridin sisällä */
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75) /* viimeinen on obaque */
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1; /* =ensimmäisestä viimeiseen */
    background-color: rgba(0, 0, 0, .75);
    display: flex; /* nyt flex parempi koska on vain yksi */
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; /* laittaa alekkain */
    padding: 10px;
    word-wrap: break-word; /* antaa pitkän numerosarjan jatkua seuraavalle riville */
    word-break: break-all; /* -"- */
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}